{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

    <div class="container-form">
        <h3 class="title-form font-weight-bold">Le profil</h3> 
        <p> Vous pouvez maintenant modifier ses informations</p>

        {{ form_start(form, { 'attr' : {'novalidate' : 'novalidate'} } )}}

            {{ form_widget(form) }}

            <input type="submit" class="validate-button-comment" value="Enregistrer" />

        {{ form_end(form)}}
    </div>
{% endblock %}